<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CourseEraSuite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="listeners.extentReport"/>
    </listeners>listeners

    <test name="CourseEraFlowTest">
        <classes>
            <class name="TestClass.TC01_Search"/>
            <class name="TestClass.TC02_ApplyFilters"/>
            <class name="TestClass.TC03_CourseData"/>
            <class name="TestClass.TC04_Form"/>
        </classes>
    </test>
</suite>